<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name ="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css">
	<title> My Web Application </title>

<style>
body
{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.topnav
{
	overflow: hidden;
	background-color: #BC9E82;
	display: flex;
	justify-content: space-between;
}

.topnav a
{
	float: left;
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a: hover
{
	background-color: #CAB9A7;
	color: black;
}

.topnav a.active
{
	background-color: #BEA493;
	color: black;
}

.topnav a img
{
	width: 100px;
	height: 100px;
	margin: 0 5px;
}
	
.social-icons {
   display: flex;
   align-items: center;
}

.social-icons a {
   margin-left: 10px;
}

.social-icons img {
   width: 3px;
   height: 3px;
}

.web-section{
      display: none;
}

#logo {
    background-image: url('logo-background1.jpg');
    background-size: cover;
}

#biography{
    background-image: url('biography-background2.jpg');
    background-size: cover;
}

#galleries {
    background-color: #DFD47C;
    background-size: cover;
}

#timetable {
    background-color: #DFD47C;
    background-size: cover;
}

#download{
    background-image: url('download-background2.jpg');
    background-size: cover;
}

#links {
    background-color: #DFD47C;
    background-size: cover;
}

#signin{
    background-image: url('signin-background2.jpg');
    background-size: cover;
}

#signout{
    background-image: url('signout-background2.jpg');
    background-size: cover;
}

#sign-up{
    background-image: url('signup-background2.jpg');
    background-size: cover;
}

#disclaimer, #copyright 
{
	background-color: #BEA493;
	padding: 8px;
	color: white;
}

</style>
</head>

<body>

<div class ="topnav">
	<a class="active" href="#" onclick="showSection('logo')"><img src="logo.jpg" alt="Logo"></a>
    <a href="#" onclick="showSection('biography')">Biography</a>
    <a href="#" onclick="showSection('timetable')">Timetable</a>
    <a href="#" onclick="showSection('galleries')">Galleries</a>
    <a href="#" onclick="showSection('download')">Download</a>
    <a href="#" onclick="showSection('links')">Links</a>
    <a href="#" onclick="showSection('signin')">Sign-In</a>
    <a href="#" onclick="showSection('signout')">Sign-Out</a>
	
	<div class="social-icons">
		<a href="https://instagram.com/nurin_mh?igshid=MTNiYzNiMzkwZA==" target="_blank"><img src="ig.png" alt="Instagram"></a>
		<a href="https://x.com/NurinMH?t=hko_BUjGlk-xl2XxBbNN4Q&s=09" target="_blank"><img src="twitter.png" alt="Twitter"></a>
		<a href="https://www.youtube.com/@nurinmardianahumaira7812" target="_blank"><img src="youtube.png" alt="Youtube"></a>
	</div>
</div>

<div id="logo" class="web-section">
<center>
	<h1><i> Welcome To Nurin's Website! </i></h>
	<p> Have fun exploring! </p>
</center>

<div id="disclaimer-logo">
   <center>
      <p>Disclaimer: This website is made for educational purposes only as well as to give
	  general information about the author. </p>
   </center>
</div>

<div id="copyright-logo">
   <center>
      <p>Copyright © 2023 Nurin's Website. All rights reserved.</p>
      <p>The entire content in this website belongs to Nurin Mardiana Humaira only.</p>
   </center>
</div>

</div>


<div id="biography" class="web-section">

<center>
<h1><i> About Me </i></h1>

<img src="raya.jpg" height="500" width="300"></img>

<table>

		<tr>
		<td>Name</td><td>: Nurin Mardiana Humaira Binti Ruslan</td>
		</tr>
		<tr>
		<td>Age</td><td>: currently 21 years old</td>
		</tr>
		<tr>
		<td>Address</td><td>: live in Selangor</td>
		</tr>
		<tr>
		<td>Hobbies</td><td>: Watching movies and drama & sleeping</td>
		</tr>
		<tr>
		<td>Email</td><td>: <a href="mailto: nurinmaira1406@gmail.com">nurinmaira1406@gmail.com</a></td>
		</tr>
		
</table>

<h1><i>My Academic Journey</i></h1>

<table>

		<tr>
		<td>Primary School</td><td>: SK Bandar Tasik Puteri</td>
		</tr>
		<tr>
		<td>Secondary School</td><td>: SMK Bandar Tasik Puteri</td>
		</tr>
		<tr>
		<td>Diploma</td><td>: Diploma in Science at UiTM Jengka, Pahang</td>
		</tr>
		<td>Degree</td><td>: Bachelor of Computer Science (Hons.) Netcentric Computing</td>
		</tr>
		
</table>
</center>

<div id="disclaimer-biography">
   <center>
      <p>Disclaimer: This website is made for educational purposes only as well as to give
	  general information about the author. </p>
   </center>
</div>

<div id="copyright-biography">
   <center>
      <p>Copyright © 2023 Nurin's Website. All rights reserved.</p>
      <p>The entire content in this website belongs to Nurin Mardiana Humaira only.</p>
   </center>
</div>

</div>


<div id="timetable" class="web-section" style="overflow: auto; max-height: 500px;">
<center>

<h1><i>My Timetable<i></h1>
<p>I am currently in Semester 2 of my degree. This is the timetable for this semester (Oct 2023- Feb 2024).</p>

<body>
<style>
#timetable table,
#timetable th,
#timetable td{
	font-family: arial;
	border: 1px solid black;
	border-radius: 10px;
	padding: 15px;
}

#timetable table{
	width: 50%;
	text-align: center;
}

#timetable-container{
	max-height: 500px;
	overflow-y: auto;
}

</style>

<div id="timetable-container">
<table>
	<tr>
		<th>Day\Time</th>
		<th>8:00</th>
		<th>9:00</th>
		<th>10:00</th>
		<th>11:00</th>
		<th>12:00</th>
		<th>13:00</th>
		<th>14:00</th>
		<th>15:00</th>
		<th>16:00</th>
		<th>17:00</th>
		<th>18:00</th>
		<th>19:00</th>
	</tr>
	
	<tr>
		<td>Monday</td>
		<td></td>
		<td></td>
		<td colspan="2">CSC404</td>
		<td></td>
		<td></td>
		<td></td>
		<td colspan="2">ITT450</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	
	<tr>
		<td>Tuesday</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td colspan="2">CS574</td>
		<td></td>
		<td></td>
	</tr>
	
	<tr>
		<td>Wednesday</td>
		<td colspan="2">ITT450</td>
		<td colspan="2">CTU554</td>
		<td></td>
		<td></td>
		<td colspan="2">ICT450</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	
	<tr>
		<td>Thursday</td>
		<td colspan="2">CSC404</td>
		<td></td>
		<td colspan="2">CSC574</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<tr>
		<td>Friday</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td colspan="2">ICT450</td>
		<td></td>
	</tr>

</table>
</div>	
</body>
</center>

<div id="disclaimer-timetable">
   <center>
      <p>Disclaimer: This website is made for educational purposes only as well as to give
	  general information about the author. </p>
   </center>
</div>

<div id="copyright-timetable">
   <center>
      <p>Copyright © 2023 Nurin's Website. All rights reserved.</p>
      <p>The entire content in this website belongs to Nurin Mardiana Humaira only.</p>
   </center>
</div>

</div>



<div id="galleries" class="web-section">
<center>

<h1><i>My Gallery </i></h1>


</center>

<div id="disclaimer-galleries">
   <center>
      <p>Disclaimer: This website is made for educational purposes only as well as to give
	  general information about the author. </p>
   </center>
</div>

<div id="copyright-galleries">
   <center>
      <p>Copyright © 2023 Nurin's Website. All rights reserved.</p>
      <p>The entire content in this website belongs to Nurin Mardiana Humaira only.</p>
   </center>
</div>

</div>



<div id="download" class="web-section">
<center>

<h1><i>Academic Calendar Session 1 2023-2024</i></h1>
<p>Download the academic calendar session 1 Oct 2023 - Feb 2024.</p>
<a href ="academiccalendar.pdf" download><img src="pdf.png" alt="Calendar" style="width:100px; height:150;"></a>

</center>

<div id="disclaimer-download">
   <center>
      <p>Disclaimer: This website is made for educational purposes only as well as to give
	  general information about the author. </p>
   </center>
</div>

<div id="copyright-download">
   <center>
      <p>Copyright © 2023 Nurin's Website. All rights reserved.</p>
      <p>The entire content in this website belongs to Nurin Mardiana Humaira only.</p>
   </center>
</div>

</div>



<div id="links" class="web-section">
<center>

<h1><i>Links</i></h1>
<p>Click to any icon below for more information</p>

<table>

		<tr>
		<td><a href="https://uitm.edu.my/index.php/en/"><img src="uitm.jpg" alt="UiTM Website" 
		style="width:100px;height:80px;"></a></td>
		</tr>
		<tr>
		<td><a href="https://kppim.uitm.edu.my/"><img src="kppim.jpg" alt="KPPIM Website" 
		style="width:100px;height:100px;"></a></td>
		</tr>
		<tr>
		<td><a href="https://istudent.uitm.edu.my/index_isp.htm"><img src="istudentportal.jpg" alt="i-Student Portal"
		style="width:100px;height:80px;"></a></td>
		</tr>
		<tr>
		<td><a href="https://ufuture.uitm.edu.my/login"><img src="ufuture.jpeg" alt="UFuture"
		style="width:100px;height:80px;"></a></td>
		</tr>

</table>

</center>

<div id="disclaimer-links">
   <center>
      <p>Disclaimer: This website is made for educational purposes only as well as to give
	  general information about the author. </p>
   </center>
</div>

<div id="copyright-links">
   <center>
      <p>Copyright © 2023 Nurin's Website. All rights reserved.</p>
      <p>The entire content in this website belongs to Nurin Mardiana Humaira only.</p>
   </center>
</div>

</div>



<div id="signin" class="web-section">
<center>

<h1><i>Sign-In</i></h1>

<form>

	<label for="username">Username</label><br>
	<input type="text" id="username" name="username"></input><br><br>
	
	<label for="password">Password </label><br>
	<input type="text" id="password" name="password"></input><br><br>

	<button type="button">Sign-in</button>
	<input type="reset" value="Reset">

	<br><br>
	<p>You don't have an account? Sign-up now!</p>
	<button type="button" onclick="showSignUpSection()">Sign-up</button>

</form>
</center>

<div id="disclaimer-signin">
   <center>
      <p>Disclaimer: This website is made for educational purposes only as well as to give
	  general information about the author. </p>
   </center>
</div>

<div id="copyright-signin">
   <center>
      <p>Copyright © 2023 Nurin's Website. All rights reserved.</p>
      <p>The entire content in this website belongs to Nurin Mardiana Humaira only.</p>
   </center>
</div>

</div>



<div id="signout" class="web-section">
<center>

	<h1><i>Sign-Out</i></h1>
	<p> You can log out by clicking the Sign-out button below.
	Hope to see you again!</p><br>

	<button type="button" onclick="signOut()">Sign-out</button>

</center>

<div id="disclaimer-signout">
   <center>
      <p>Disclaimer: This website is made for educational purposes only as well as to give
	  general information about the author. </p>
   </center>
</div>

<div id="copyright-signout">
   <center>
      <p>Copyright © 2023 Nurin's Website. All rights reserved.</p>
      <p>The entire content in this website belongs to Nurin Mardiana Humaira only.</p>
   </center>
</div>

</div>



<div id="signup" class="web-section">
<center>

<h1><i>Sign-Up</i></h1>

<form>

	<label for="fname">First Name</label><br>
	<input type="text" id="firstname" name="fname"></input><br><br>
	
	<label for="lname">Last Name</label><br>
	<input type="text" id="lname" name="lname"></input><br><br>

	<p>Gender</p>
	<input type="radio" id="male" name="gender" value="Male">
	<label for="male">Male</label>
	<input type="radio" id="female" name="gender" value="Female">
	<label for="female">Female</label><br><br>

	<label for="email">Email Address</label><br>
	<input type="text" id="email" name="email"></input><br><br>

	<label for="username">Username</label><br>
	<input type="text" id="username" name="username"></input><br></br>

	<label for="password">Password</label><br>
	<input type="text" id="password" name="password"></input><br><br>

	<label for="renpassword">Re-Enter Password</label><br>
	<input type="text" id="renpassword" name="renpassword"></input><br><br>

	<button type="button">Sign-Up</button>
	<input type="reset" value="Reset">
	
	<br><br>

</form>
</center>

<div id="disclaimer-signup">
   <center>
      <p>Disclaimer: This website is made for educational purposes only as well as to give
	  general information about the author. </p>
   </center>
</div>

<div id="copyright-signup">
   <center>
      <p>Copyright © 2023 Nurin's Website. All rights reserved.</p>
      <p>The entire content in this website belongs to Nurin Mardiana Humaira only.</p>
   </center>
</div>

</div>


<script>
    function showSection(sectionId) {
      var sections = document.getElementsByClassName('web-section');
      for (var i = 0; i < sections.length; i++) {
        sections[i].style.display = 'none';
      }

      var selectedSection = document.getElementById(sectionId);
      if (selectedSection) {
        selectedSection.style.display = 'block';
      }
    }
	
	function showSignUpSection() {
      var sections = document.getElementsByClassName('web-section');
      for (var i = 0; i < sections.length; i++) {
         sections[i].style.display = 'none';
      }

      var signUpSection = document.getElementById('signup');
      if (signUpSection) {
         signUpSection.style.display = 'block';
      }
    }
	
	document.addEventListener('DOMContentLoaded', function() {
        showSection('logo');  // Secara lalai tunjukkan bahagian logo
    });
	
	function signOut() {
    showSection('logo');
	}
	
	function showSection(sectionId) {
		var sections = document.getElementsByClassName('web-section');
		for (var i = 0; i < sections.length; i++) {
			sections[i].style.display = 'none';
		}

		var disclaimers = document.querySelectorAll('[id^=disclaimer]');
		var copyrights = document.querySelectorAll('[id^=copyright]');

		for (var i = 0; i < disclaimers.length; i++) {
			disclaimers[i].style.display = 'none';
		}

		for (var i = 0; i < copyrights.length; i++) {
		copyrights[i].style.display = 'none';
		}

		var selectedSection = document.getElementById(sectionId);
		var disclaimerForSection = document.getElementById('disclaimer-' + sectionId);
		var copyrightForSection = document.getElementById('copyright-' + sectionId);

		if (selectedSection) {
			selectedSection.style.display = 'block';
		}

		if (disclaimerForSection) {
			disclaimerForSection.style.display = 'block';
		}

		if (copyrightForSection) {
			copyrightForSection.style.display = 'block';
		}
	}
	
 </script>
  

</body>
</html>
